---
import Pill from "./Pill.astro";
const { title, description, tags, image, link, github } = Astro.props;
import { TAGS } from "./Tags.astro";
import EyeIcon from "../components/icons/Eye.astro";
---

<article class="my-10 pb-2 border-b-[1px] border-solid border-gray-400">
  <h3 class="text-xl font-semibold text-yellow-100/90">{title}</h3>
  <p
    class="mt-2 text-pretty text-base font-normal text-gray-500 dark:text-gray-400"
  >
    {description}
  </p>
  <ul class="mt-4 flex flex-wrap gap-4 justify-normal">
    {
      tags.map((tag: any) => (
        <Pill>
          <tag.icon class="size-5 md:size-4" />{" "}
          <span class="hidden md:block">{tag.name}</span>
        </Pill>
      ))
    }
  </ul>
  <img
    src={image}
    alt={`SS from ${title}`}
    class="rounded-md shadow-lg shadow-white/10 mt-4"
  />
  <div class="mt-4 flex flex-wrap gap-4 justify-center">
    <Pill href={link}>
      <EyeIcon class="size-5 md:size-4" />
      <span class="hidden md:block"> Visit </span>
    </Pill>
    <Pill href={github}>
      <TAGS.GITHUB.icon class="size-5 md:size-4" />
      <span class="hidden md:block"> GitHub </span>
    </Pill>
  </div>
</article>
